useDynLib(penalized)

import(methods)

importFrom(survival, Surv, coxph, basehaz, strata, untangle.specials)

importFrom(stats, coefficients, coef, fitted, fitted.values, residuals, time, weights, predict,
     "binomial", "contr.treatment", "glm", "lm",
     "model.frame", "model.matrix", "model.offset", "poisson",
     "terms", "var", "formula")

importFrom("grDevices", "rainbow")

importFrom("graphics", "plot", "axis", "lines", "matplot", "par", "strwidth")

importFrom("utils", "flush.console")

importFrom(Rcpp, evalCpp)

exportClasses(penfit, breslow)

exportMethods(show, residuals, coefficients, coef, penalty, basehaz, penalty, loglik, "[", "[[",
	as.matrix, as.list, time, plot, fitted, fitted.values, weights, linear.predictors, as.data.frame,
	basesurv, predict, survival)

export(penalized, cvl, optL1, optL2, profL1, profL2, plotpath, contr.none, contr.diff)
