importFrom(survival, Surv, coxph, basehaz)

importFrom(stats, coefficients, fitted.values, residuals, time, weights)

importFrom(graphics, plot)

exportClasses(penfit, breslow)

exportMethods(show, residuals, coefficients, penalty, basehaz, penalty, loglik, "[", "[[", 
	as.matrix, as.list, time, plot, fitted.values)

export(penalized, cvl, optL1, optL2, profL1, profL2, plotpath, contr.none, contr.diff)
